
<h1> My name is <%= @name %> </h1>

<% if @name.empty? %>

<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

<% end %>

<img src="https://i.imgur.com/jFaSxym.png\" style="border: dashed red;">


