<div style="text-align: center;font-size: 20px;">
  <h1>Log in to MakersBnB</h1>
</div>

<div style="text-align: center;font-size: 20px;">
  <h2>
    <%= flash[:notice] %>
  </h2>
</div>

<div style="text-align: center;font-size: 20px;border: 1px solid black;padding: 1rem;">
  <form action="/login" method="post">
    <label for='email_address'>Email Address:
      <input type="email" name="email_address" required>
    </label>
    <br>
    <label for='password'>Password:
      <input type="password" name="password" required>
    </label>
    <br>
    <input type="submit" value="Log in">
  </form>
</div>

