<link rel="stylesheet" type="text/css" href="/style.css">

<nav class='nav'>
  <a class="link" href='/login'>Login</a>
</nav>

<div class="title">
  <h1>Sign up to MakersBnB</h1>
<div>

<div class="border-form">
  <form class="form" action="/" method="post">
    <label class="label" for='email_address'>Email Address:
    </label>
    <br>
      <input type="email" name="email_address" required>
    <br>
    <label class="label" for='password'>Password:
    </label>
    <br>
      <input type="password" name="password" required>
    <br>
    <input class="button" type="submit" value="Sign up">
  </form>
</div>

