<nav style="text-align: right;">
  <a href='/login'>Login</a>
</nav>
<div style="text-align: center;font-size: 20px;">
  <h1>Sign up</h1>
<div>

<div style="text-align: center;font-size: 20px;border: 1px solid black;padding: 1rem;">
  <form action="/" method="post">
    <label for='email_address'>Email Address:
      <input type="email" name="email_address" required>
    </label>
    <br>
    <label for='password'>Password:
      <input type="password" name="password" required>
    </label>
    <br>
    <input type="submit" value="Sign up">
  </form>
</div>

